body{
  background-color: rgb(250, 250, 250);
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin:0 10%;
}
.image{
 width:35%; 
 margin-top:2%;
margin:3% 0;
}